.header{
    background-color: black;
    padding: 0 20px;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 99;
}
.main-logo{
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.btn-theme{
    background-color: red ;
    border-color: red;
    outline: none;

}
.head-right-item{
    margin-left: auto;
    display: flex;
    align-items: center;
    
}
.cart{
    position: relative;
    cursor: pointer;
    outline: none;
}

.cart-image{
    width: 35px;

}
.cart-items{
    position: absolute;
    right: 15px;
    top: -5px;
    background-color: rgb(255,102,5);
    outline: white solid 2px;
    height: 10px;
    min-width: 10px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 2px;
}