

.book-container {
    width: 1300px;
    margin-left: 10px; /* Negative margin to counteract margin on book-card */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
}

.book-card {
    width:400px;
    margin: 10px;
    box-sizing: border-box;
    border: 1.2px solid #e8e8e8;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #e8e8e8;
    overflow: hidden;
}

.book-card:hover {
    box-shadow: 0 0 15px 0 #e8e8e8;
}

.book-thumbnail {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 320px;
    height: 335px;
    cursor: pointer;
}

.card-content {
    padding: 20px;
}

.card-content h4, p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-theme {
    background-color: red;
    border-color: red;
    outline: none;
}
